
body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

.video {
  width: 100%;
  max-width: 500px;
  border: 5px solid #9b59b6;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  background-color: #e91e63;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c2185b;
}

h1, h2 {
  color: #9b59b6;
}

h2 {
  font-size: 1.5rem;
}
